<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS235 Lab Attendance Sheet</title>
    <style>
        h1 {
          font-family: arial;
        }
        table, th, td {
          border: 1px solid black;
          font-family: arial;
        }
        table {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>CS235 Lab Attendance Sheet: {{ which_lab }}</h1>
    <table>
        <tr>
            {% for column in column_names %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for student in student_entries %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td></td>
        </tr>
        {% endfor %}
        {% for idx in range(number_of_extra_rows) %}
        <tr style="height:0.55cm;">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>